Repository cms-kr/TZWi, pull requests merged in 2019-06, with the labels that each got.

#113 Fix HLT formula, closure for lambda expression
  TopAnalysis/data/combineHLT/ttbarDoubleLepton/2016.yaml
  TopAnalysis/python/postprocessing/fcncTriLeptonHLT.py
  TopAnalysis/python/postprocessing/ttbarDoubleLeptonHLT.py
Labels: bug, postprocessor

#114 HLT module name fix for ttbb
  TopAnalysis/test/ttbarDoubleLepton/01_prod_ntuple.sh
Labels: bug, postprocessor

#115 Cleanup codes
  TopAnalysis/data/combineHLT/ttbarDoubleLepton/2016.yaml
  TopAnalysis/data/grouping/fcncTrilepton.yaml
  TopAnalysis/data/grouping/ttbbDilepton.yaml
  TopAnalysis/data/plots/ttbbDilepton.yaml
  TopAnalysis/python/postprocessing/fcncTriLeptonHLT.py
  TopAnalysis/python/postprocessing/ttbarDoubleLeptonHLT.py
  TopAnalysis/test/common/04_drawPlots.py
  TopAnalysis/test/fcncTriLepton/01.1_submit.py
  TopAnalysis/test/ttbarDoubleLepton/01.1_submit.py
Labels: analysis, postprocessor

#116 Improve plotting
  TopAnalysis/test/common/02_make_histograms.py
  TopAnalysis/test/common/03_scalemerge.py
  TopAnalysis/test/common/04_drawPlots.py
Labels: analysis

#117 FCNC signal regions, sample selection
  TopAnalysis/data/grouping/fcncTrilepton.yaml
  TopAnalysis/data/histogramming/fcncTrilepton.yaml
  TopAnalysis/test/common/03_scalemerge.py
  TopAnalysis/test/common/04_drawPlots.py
Labels: analysis, postprocessor

#118 Datacard and fit formula for combine tool
  TopAnalysis/test/ttbarDoubleLepton/TTBB.py
  TopAnalysis/test/ttbarDoubleLepton/ttbb.txt
Labels: analysis

#119 gentop production
  NanoAODProduction/python/customise_cff.py
  NanoAODProduction/python/customise_genTop_cff.py
  NanoAODProduction/python/tables/genTop_cff.py
Labels: postprocessor

#120 CATGenTop dumper
  NanoAODProduction/python/customise_cff.py
  NanoAODProduction/python/customise_genTop_cff.py
  NanoAODProduction/python/tables/genTop_cff.py
  NanoAODProduction/test/cat2nano/README.md
  NanoAODProduction/test/cat2nano/genTopNano_cfg.py
Labels: NanoAOD-production

#121 Modified some histogramming cuts in FCNC
  TopAnalysis/data/histogramming/fcncTrilepton.yaml
Labels: analysis

#122 JES-only NANOAOD production
  NanoAODProduction/data/branchsel_JEC.txt
  NanoAODProduction/test/nano4jes/NanoAOD
  NanoAODProduction/test/nano4jes/run.sh
  NanoAODProduction/test/nano4jes/submit.py
Labels: NanoAOD-production
